@{
    ViewBag.Version = "v1.0";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>TFriend</title>
    <link href="~/jquery-ui/jquery-ui.min.css?@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="~/hound/vendors/vectormap/jquery-jvectormap-2.0.2.css?@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="~/hound/dist/css/font-awesome.min.css?@ViewBag.Version" rel="stylesheet" type="text/css">
    <link href="~/hound/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css?@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="~/hound/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css?@ViewBag.Version" rel="stylesheet" type="text/css">
    <link href="~/hound/dist/css/style.css?@ViewBag.Version" rel="stylesheet" type="text/css">
    <link href="~/css/TFriend.css?@ViewBag.Version" rel="stylesheet" type="text/css" />
    <link href="~/hound/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css?@ViewBag.Version" rel="stylesheet" type="text/css">

    <script src="~/hound/vendors/bower_components/jquery/dist/jquery.min.js?@ViewBag.Version"></script>
    <script src="~/jquery-ui/jquery-ui.min.js?@ViewBag.Version"></script>
    <script src="~/js/TFriend.js?@ViewBag.Version"></script>


</head>
<body>
    <div class="loading" id="spinner">Loading&#8230;</div>
    <div class="preloader-it">
        <div class="la-anim-1"></div>
    </div>
    <div class="wrapper theme-1-active pimary-color-red">
        <!-- Top Menu Items -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="mobile-only-brand pull-left">
                <div class="nav-header pull-left">
                    <div class="logo-wrap">
                        <a href="@Url.Action("Index","Home")">
                            <span class="brand-text">TFriend</span>
                        </a>
                    </div>
                </div>
                <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="zmdi zmdi-menu"></i></a>
                <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>
            </div>
            <div id="mobile_only_nav" class="mobile-only-nav pull-right">
                <ul class="nav navbar-right top-nav pull-right">
                    <partial name="_LoginPartial">
                </ul>
            </div>
        </nav>

        <!-- Left Sidebar Menu -->
        <div class="fixed-sidebar-left">
            <ul class="nav navbar-nav side-nav nicescroll-bar">
                <partial name="_Navigation" />
            </ul>
        </div>


        <!-- Main Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row heading-bg">
                        </div>
                        @RenderBody()
                    </div>
                </div>
                <!-- /Row -->
            </div><!-- Footer -->
            <footer class="footer container-fluid pl-30 pr-30">
                <div class="row">
                    <div class="col-sm-12">
                        <p>@DateTime.Now.Year © TFriend - Developed by NHG</p>
                    </div>
                </div>
            </footer>
            <!-- /Footer -->

        </div>
        <!-- /Main Content -->
    </div>
    <script src="~/hound/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js?@ViewBag.Version"></script>
    <script src="~/hound/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js?@ViewBag.Version"></script>
    <script src="~/hound/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js?@ViewBag.Version"></script>
    <script src="~/hound/vendors/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js?@ViewBag.Version"></script>
    <script src="~/hound/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js?@ViewBag.Version"></script>
    <script src="~/hound/dist/js/jquery.slimscroll.js?@ViewBag.Version"></script>
    <script src="~/js/jquery.form.min.js?@ViewBag.Version"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js?@ViewBag.Version"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js?@ViewBag.Version"></script>
    <script src="~/js/moment.min.js?@ViewBag.Version"></script>
    <script src="~/hound/vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?@ViewBag.Version"></script>
    <script src="~/hound/dist/js/init.js?@ViewBag.Version"></script>

    <script>
        $(document).ready(function () {
            hideSpinner();
        })
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
