<li class="navigation-header">
    <span>Main</span>
    <i class="zmdi zmdi-more"></i>
</li>
<li>
    <a class="" href="@Url.Action("Index","Friend")">
        <div class="pull-left">
            <i class="zmdi zmdi-mood mr-20"></i>
            <span class="right-nav-text">My Friend</span>
        </div>
        <div class="clearfix"></div>
    </a>
</li>